Package: ipad_htc_charge
Priority: extra
Section: ipad-charge
Installed-Size: 80
Maintainer: Micah <micahwelf@gmail.com>
Architecture: amd64
Version: 20150720
Depends: libusb-1.0-0
Provides: ipad_htc_charge
Description: Enables USB charging for Apple devices, e.g. iPad.
